<li>
  {{#link-to 'item' item.id}}{{item.strain}}{{/link-to}}
  {{#if isImageShowing}}
    <p><img src={{item.image}} alt={{item.type}} {{action 'imageHide'}} ></p>
  {{else}}
  <button {{action 'imageShow'}}>Show Image</button>
  {{/if}}
  <button {{action 'addToCart' item}}>Add to Cart</button>

  {{update-item item=item update="update"}}
</li>
