{{#if updateItemForm}}
  <h1>Update {{item.strain}}</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="strain">Strain</label>
        {{input value=strain id="strain" placeholder=item.strain}}
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        {{input value=type id="type" placeholder=item.type}}
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=image id="image" placeholder=item.image}}
      </div>

      <div class="form-group">
        <label for="pricePerGram">Price per Gram</label>
        {{input value=pricePerGram id="pricePerGram" placeholder=item.pricePerGram}}
      </div>

      <div class="form-group">
        <label for="pricePerEighth">Price per Eighth</label>
        {{input value=pricePerEighth id="pricePerEighth" placeholder=item.pricePerEighth}}
      </div>

      <div class="form-group">
        <label for="pricePerOz">Price per Ounce</label>
        {{input value=pricePerOz id="pricePerOz" placeholder=item.pricePerOz}}
      </div>

      <div class="form-group">
        <label for="happy">Happiness level</label>
        {{input value=happy id="happy" placeholder=item.effects.happy}}
      </div>

      <div class="form-group">
        <label for="euphoric">Euphoric level</label>
        {{input value=euphoric id="euphoric" placeholder=item.effects.euphoric}}
      </div>

      <div class="form-group">
        <label for="relaxed">Relaxed level</label>
        {{input value=relaxed id="relaxed" placeholder=item.effects.relaxed}}
      </div>

      <div class="form-group">
        <label for="uplifted">Uplifted level</label>
        {{input value=uplifted id="uplifted" placeholder=item.effects.uplifted}}
      </div>

      <div class="form-group">
        <label for="creative">Creative level</label>
        {{input value=creative id="creative" placeholder=item.effects.creative}}
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        {{input value=description id="description" placeholder=item.description}}
      </div>

      <button {{action 'update' item}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateItemForm'}}>Update</button>
{{/if}}
